NODE_ENV=development
PORT=9093

MONGODB_URI=mongodb://127.0.0.1:27017/bot-dompiscons
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

ADMIN_CHAT_IDS=YOUR_ADMIN_TELEGRAM_CHAT_ID
WEBHOOK_ALLOWED_IPS=192.168.88.4
TELEGRAM_GLOBAL_DELAY_MS=300
TELEGRAM_GROUP_DELAY_MS=3500
SLA_CRON=*/5 * * * *
